
<div class="container"><h1>Welcome to puppet pipelines test</h1></div>
<div class="container"><h4>Bases</h4></div>
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/base-create']"
    ><mat-icon>add</mat-icon> Add A Base</a
  >
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element" class="city-col">
        {{ element.city }}
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <ng-container matColumnDef="acres">
      <th mat-header-cell *matHeaderCellDef>Acres</th>
      <td mat-cell *matCellDef="let element">{{ element.acres }}</td>
    </ng-container>

    <ng-container matColumnDef="employees">
      <th mat-header-cell *matHeaderCellDef>Employees</th>
      <td mat-cell *matCellDef="let element">{{ element.employees }}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="manager">
      <th mat-header-cell *matHeaderCellDef>Manager</th>
      <td mat-cell *matCellDef="let element">{{ element.manager }}</td>
    </ng-container>

    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef>Contact Number</th>
      <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/base-details/', row._id]"
    ></tr>
  </table>
</div>
